body {
    display: flex;
    justify-content: center;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Times New Roman', Times, serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 50px;
    overflow: hidden;
}

.animation {
    width: 50px;
    height: 50px;
    border: 2px solid;
    border-color: #fff;
    background-color: #fff;
    border-radius: 50%;
    animation: moveAnimation 8s linear infinite;
}

@keyframes moveAnimation {
    0% {
        transform: translateX(0) rotate(0deg);
    }

    50% {
        transform: translateX(550px) rotate(180deg);
    }

    100% {
        transform: translateX(0) rotate(360deg);
    }
}

.cat-container{
    display: flex; 
    justify-content: center;
    gap: 100px;
}

.cat-img{
    width: 600px;
}

.cat-text{
    display: inline-block;
    width: 600px;
    font-size: 20px;
}

.cat-name{
    font-size: 40px;
}
